.navbar-nav>li>a {
    text-align: center;
    background-color: #b3b4ae;
    color: #ffffff;
}

.mainText {
    background-color: #b3b4ae;
    padding: 20px;
    margin-bottom: 40px;
}

.mainTextTitle {
    font-weight: 600;
    font-size: 25px;
}
.row-2 {
    margin: 20px;
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .row-2 {
        margin: 20px 80px 0 80px;
    }
  }